html {
  scroll-behavior: smooth;
}
*::selection {
  background-color: #d2a679;
}
/* gardient background */
.gardient-coffee-section {
  background-color: #f1d6af;
  background-image: radial-gradient(
      at 50% 18%,
      hsla(35, 62%, 89%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 17% 60%, hsla(30, 49%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(24, 33%, 32%, 1) 0px, transparent 50%);
}

.gardient-hero-section {
  background-color: #f1d6af;
  background-image: radial-gradient(
      at 52% 46%,
      hsla(35, 62%, 89%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 51% 82%, hsla(35, 62%, 89%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 5%, hsla(30, 49%, 64%, 1) 0px, transparent 20%);
}

.gardient-recipe-section {
  background-color: hsla(35, 70%, 81%, 1);
  background-image: radial-gradient(
      at 50% 79%,
      hsla(24, 33%, 32%, 0.54) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(34, 37%, 63%, 0) 0px, transparent 50%);
}

/* coffee card effect */
.card:hover .name {
  transform: translateY(-1rem);
  transition: transform 0.3s ease-in-out;
}
.name {
  transform: translateY(0.5rem);
  transition: transform 0.3s ease-in-out;
}
.card:hover .semi-name {
  opacity: 1;
  transform: translateY(-1rem);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.semi-name {
  opacity: 0;
  transform: translateY(2rem);
  transition: transform 0.3s ease-in-out;
}
.card:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
img {
  transform: scale(1);

  transition: transform 0.3s ease-in-out;
}
.card:hover .layer {
  opacity: 20%;
  transition: opacity 0.3s ease-in-out;
}
.layer {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .arrow-top-right {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.arrow-top-right {
  opacity: 0;
  transform: translate3d(3rem, -3rem, 0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.card:hover {
  transition: box-shadow 0.5s ease-in-out;
}

/* scroll nav bar */
.translate-wrapper {
  transform: translateY(0px);
  z-index: 100;
  transition: transform 1s ease-in-out;
}
.translate-wrapper nav {
  width: 100%;
  left: 0;
  transform: translateX(0);
  border-radius: 0;
  z-index: 100;
  transition: width 0.7s ease-in-out, border 1s ease-in-out,
    border-radius 1s ease-in-out, left 1s ease-in-out, transform 1s ease-in-out,
    background-color 1s ease-in-out;
}

.scroll-down .translate-wrapper {
  transform: translateY(20px);
  z-index: 100;
  transition: transform 1s ease-in-out;
}

.scroll-up .translate-wrapper {
  transform: translateY(10px);
  z-index: 100;
  transition: transform 1s ease-in-out;
}

.scroll-down .translate-wrapper nav {
  width: 90%;
  left: 50%;
  border: 4px solid #3b2f2f;
  border-radius: 20px;
  transform: translateX(-50%);
  z-index: 100;
  transition: width 1s ease-in-out, border 0.5s ease-in-out,
    border-radius 0.5s ease-in-out;
}

.scroll-up .translate-wrapper nav {
  width: 90%;
  left: 50%;
  border: 4px solid #3b2f2f;
  border-radius: 20px;
  transform: translateX(-50%);
  z-index: 100;
  transition: width 1s ease-in-out, border 0.5s ease-in-out,
    border-radius 0.5s ease-in-out;
}

/* scroll card */
@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
}
